<!DOCTYPE html>
{% autoescape true %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>XSS</title>
</head>
<body>
    <a href="/">Home</a> 
   <h1>XSS test</h1>
   <h2>I bet you can't execute anything!</h2>
   <form action="/xss" method="post">
    <input id="input" name="input" placeholder="input"/>
    <button type="submit">Send</button>
   </form>
   {% for c_id, c_text in cmnt %}
      <div>
        {{ c_text | safe }}
        <form action="/delete_comment" method="post">
            <input type="hidden" name="comment_id" value="{{ c_id }}">
            <input type="hidden" name="comment_text" value="{{ c_text }}">
            <button type="submit">Delete</button>
        </form>
      </div>
    {% endfor %}
</body>
</html>
{% endautoescape %}
